@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100; 300; 400; 500; 700; 900&family=Roboto:ital,wght@0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300; 0,400; 0,500; 0,600; 0,700; 0,800; 1,300; 1,400; 1,500; 1,600; 1,700; 1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

/*===========================================================================
    CSS 초기화
============================================================================*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section,
video,
a {
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #191919;
    line-height: 1.5;
    scroll-behavior: smooth;
    letter-spacing: -0.6px;
}

body {
    line-height: 1;
}

* {
    font-family: 'Noto Serif KR', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ul,
ol,
li {
    list-style: none;
}

strong {
    display: inline-block;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    display: block;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

table thead {
    background: #f8f8fa;
}

table tr {}

table th {
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
}

table td {
    padding: 12px;
    text-align: center;
}

input,
select {
    vertical-align: middle;
    outline: 0;
}

p {
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

span {
    display: inline-block;
}

/* label { display: block; font-size: 18px; }  */
/* button { cursor: pointer; background: #1A274C; color: #fff; font-size:15px; padding:12px 20px; }  */
button {
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"],
button,
textarea {
    border: 1px solid #e0e0e0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/* input[type="text"], input[type="password"], input[type="email"], input[type="tel"] { border:0; border-bottom: 1px solid #e3e3e5; background: inherit; padding:12px 30px 12px 0; }  */
input::placeholder {
    font-weight: 400;
    color: #767676;
}

textarea {
    resize: none;
    padding: 14px;
    font-size: 16px;
}

.col-group {
    display: flex;
    align-items: center;
}

.btn-group {
    text-align: center;
}

.btn-group button {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 144px;
    border: 1px solid #d3d3d3;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

pre {
    display: inline-block;
    white-space: pre-wrap;
}

.wrap {
    overflow: hidden;
}

/*===========================================================================
    공통요소
============================================================================*/
.container {
    width: 1920px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}